<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo-1.5.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    

	<context:annotation-config />
	
 	
 	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	  	<property name="locations" value="classpath:/config/database/mongodb.properties"/>
    	<property name="ignoreUnresolvablePlaceholders" value="true" />  
	</bean>



 	<!-- 定义mongo对象，对应的是mongodb官方jar包中的Mongo，replica-set设置集群副本的ip地址和端口 replica-set="localhost:27017"  -->
    <mongo:mongo id="mongo" host="${mongo.host}" port="${mongo.port}" >
        <!-- 一些连接属性的设置 -->
        <mongo:options
        	threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"
            max-wait-time="${mongo.maxWaitTime}"
            max-auto-connect-retry-time="15999"
            connect-timeout="${mongo.connectTimeout}"
            connections-per-host="${mongo.connectionsPerHost}"
            write-fsync="true"
        />
    </mongo:mongo>
    <!--  <mongo:options 
             write-number="1"
             write-timeout="0"
             write-fsync="false" 
             
             auto-connect-retry="${mongo.autoConnectRetry}"
             socket-keep-alive="${mongo.socketKeepAlive}"
             socket-timeout="${mongo.socketTimeout}"
             slave-ok="${mongo.slaveOk}" -->


	<!-- 通过工厂Bean创建mongo连接实例--> 
	<mongo:db-factory dbname="${mongo.database}" authentication-dbname="db"
			username="${mongo.username}" password="${mongo.password}"
			 mongo-ref="mongo"  />
			 
	<bean id="mappingContext"  
	   class="org.springframework.data.mongodb.core.mapping.MongoMappingContext" />  
  	
   
	<bean id="mappingMongoConverter"  
	   class="org.springframework.data.mongodb.core.convert.MappingMongoConverter">  
	   <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />  
	   <constructor-arg name="mappingContext" ref="mappingContext" />  
	   <property name="typeMapper" ref="defaultMongoTypeMapper" />  
	</bean>  

	<!-- mongo模板操作对象 -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory"/>
		<constructor-arg name="mongoConverter" ref="mappingMongoConverter" />  
	</bean>
	
	
	<!-- MongoDB GridFS Template 支持，操作mongodb存放的文件 -->
	<mongo:mapping-converter id="converter" db-factory-ref="mongoDbFactory"/>
	<bean id="gridFsTemplate" class="org.springframework.data.mongodb.gridfs.GridFsTemplate">
	  <constructor-arg ref="mongoDbFactory"/>
	  <constructor-arg ref="converter"/>
	</bean>
 	
 	
 	<!-- 映射转换器，扫描back-package目录下的文件，根据注释，把它们作为mongodb的一个collection的映射
    <mongo:mapping-converter base-package="com.ex.report.domain" /> -->
 	
 	
 	
 	<!-- 默认Mongodb类型映射 -->  
    <bean id="defaultMongoTypeMapper" class="org.springframework.data.mongodb.core.convert.DefaultMongoTypeMapper">  
        <constructor-arg name="typeKey">  
            <null /><!-- 这里设置为空,可以把 spring data mongodb 多余保存的_class字段去掉 -->  
        </constructor-arg>  
    </bean>  
 	
 	
 	
 	<!-- mongodb bean的仓库目录，会自动扫描扩展了MongoRepository接口的接口进行注入 -->
 	<context:component-scan base-package="com.springrain.dao.repository.impl" />
  
 
	
 


</beans>
